# Node dependencies
node_modules/

# Build artifacts
dist/
build/

# Log files
*.log

# Editor and OS-specific files
.DS_Store
*.swp
*.swo
*.swn
*.bak
*.tmp
*.sublime*
.vscode/
.idea/
*.iml

# Cache files
.cache/
.nuxt/
.next/

# Environment variables
.env
.env.local
.env.*.local
