:root {
  color-scheme: light dark;
  --action-color: #fa5252;
  --primary-color: #c6e0ff;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

canvas {
  width: 100%;
}

.main {
  aspect-ratio: 3;
  background-color: var(--primary-color);
  border-radius: 24px;
  box-sizing: border-box;
  display: flex;
  gap: 24px;
  margin: auto;
  max-height: 80%;
  max-width: 1000px;
  padding: 16px;
  width: 90%;
}

.gameContainer {
  aspect-ratio: 2;
  border: 1px solid black;
  border-radius: 16px;
  overflow: hidden;
}

.controls {
  align-items: center;
  display: flex;
  flex-grow: 1;
  gap: 16px;
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

button {
  aspect-ratio: 1;
  background: radial-gradient(circle at 33% 33%, var(--action-color), #4f1010);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 96px;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}

button::after {
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.8) 14%,
    rgba(255, 255, 255, 0) 24%
  );
  border-radius: 50%;
  content: "";
  filter: blur(8px);
  height: 100%;
  left: -20px;
  pointer-events: none;
  position: absolute;
  top: -20px;
  transform: skewX(-20deg);
  width: 100%;
}

button:active {
  background: radial-gradient(
    circle at 35px 35px,
    var(--action-color),
    #210707
  );
}

button:active::after {
  left: -17px;
  opacity: 0.7;
  top: -17px;
}

input[type="range"] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;

  background: radial-gradient(circle at 33% 33%, white, #707070);
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: unset;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;

  background: radial-gradient(circle at 33% 33%, white, #707070);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 24px;
  cursor: pointer;
  background: #5588c7;
  border-radius: 999px;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: #5588c7;
  border-radius: 999px;
}
